:root {
    --yellow: rgb(252, 255, 104);
    /* title in header */

    --bright-grey: rgb(204, 204, 204);
    /* background header und standart background list */

    --dark-grey: rgb(60, 60, 60);
    /* text in list */
}

body {
    margin: 0;
}

/* Header */

.header-container {
    margin: 0;
    height: 100px;
    background-color: #c5c5c5;
}

.header {
    margin: 0;
    padding: 10px 0px 10px 10px;
}

.check {
    font-size: 4rem;
    font-weight: bold;
}

.lists {
    margin-left: 3px;
    font-size: 2rem;
    font-weight: normal;
    font-style: italic;
    color: var(--yellow);
}

/* Workspace */

.list-container {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: baseline;
    gap: 30px;
}

.list {
    min-width: 350px;
    min-height: 175px;
    font-family: 'Montserrat';
    border-radius: 10px;
    color: var(--dark-grey);
    background-color: var(--bright-grey);
}

ul {
    list-style-type: none;
}

li {
    line-height: 1.5;
}

.list h1 {
    padding-left: 40px;
    font-weight: 400;
}

.checked {
    text-decoration: line-through
}

.item-name {
    margin-left: 5px;
}


/* Text Input */

.inputNewList {
    margin: 21.440px 40px;
    width: 260px;
    font-weight: 400;
    font-size: 2rem;
}

.inputNewItem {
    margin-right: 10px;
    font-weight: 400;
    font-size: 1rem;
}


/* Buttons */

.plus-button {
    height: 30px;
    width: 30px;
    border-radius: 16px;
    border-width: thin;
    font-size: 1.2rem;
}

.newListSubmitButton {
    display: block;
    margin: auto;
    width: 100px;
    height: 30px;
    border-radius: 7px;
    border-width: 1px;
}

.delete-button {
    display: block;
    margin-left: 5px;
    margin-bottom: 5px;
    width: auto;
    height: auto;
    font-size: 0.75rem;
    border-radius: 7px;
    border-width: 1px;
}

/* Color Picker */

.color-picker {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 30px;
    height: 30px;
}